@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: inter, arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1512px;
}
.wrapper__info-bar {
  height: 64px;
  color: #FFC700;
  background-color: #000;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 900;
  line-height: 64px;
}
@media (max-width: 580px) {
  .wrapper__info-bar {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  .wrapper__info-bar {
    font-size: 1.4rem;
  }
}
.wrapper__main {
  margin: 0 auto;
  max-width: 1012px;
}
@media (max-width: 1048px) {
  .wrapper__main {
    padding: 0 30px;
  }
}
@media (max-width: 580px) {
  .wrapper__main--column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrapper__hline {
  margin: 90px 0;
  border: 1px solid #000;
}
@media (max-width: 580px) {
  .wrapper__hline {
    margin: 60px 0;
  }
}
@media (max-width: 580px) {
  .wrapper__hline--order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.wrapper__hline-menu {
  display: none;
}
@media (max-width: 1048px) {
  .wrapper__hline-menu {
    display: block;
    width: 240px;
    margin: 10px auto 30px auto;
  }
}
.wrapper__scroller-up {
  display: none;
  font-size: 3rem;
  width: 46px;
  text-align: center;
  margin: 80px auto 0 auto;
  background-color: #FFC700;
  border: 4px solid #000;
  -webkit-box-shadow: 4px 4px 0 #FFC700;
          box-shadow: 4px 4px 0 #FFC700;
  cursor: pointer;
}
@media (max-width: 580px) {
  .wrapper__scroller-up {
    display: block;
  }
}
.wrapper__scroller-up--order {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 1.8rem;
  padding: 60px 10px 130px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__logo {
  margin-right: auto;
}
.menu__burger {
  display: none;
  font-size: 3rem;
}
@media (max-width: 1048px) {
  .menu__burger {
    display: block;
  }
}
.menu__burger--displayNone {
  display: none;
}
.menu__xmark {
  display: none;
  font-size: 3rem;
}
@media (max-width: 1048px) {
  .menu__xmark--displayBlock {
    display: block;
  }
}
.menu__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1048px) {
  .menu__mobile {
    display: none;
  }
}
@media (max-width: 1048px) {
  .menu__mobile--displayBlock {
    display: block;
    width: 100%;
  }
}
.menu__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1048px) {
  .menu__nav-list--vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 120px;
  }
}
.menu__nav-list-item {
  margin-right: 22px;
  cursor: pointer;
}
.menu__nav-list-item:hover {
  color: #666;
}
@media (max-width: 1048px) {
  .menu__nav-list-item--vertical {
    width: 240px;
    text-align: center;
    border: 4px solid #000;
    -webkit-box-shadow: 6px 6px 0 #FFC700;
            box-shadow: 6px 6px 0 #FFC700;
    padding: 10px 0;
    margin: 0 0 30px 0;
    margin-right: 0;
  }
  .menu__nav-list-item--vertical:hover {
    background-color: #FFC700;
    color: #000;
  }
  .menu__nav-list-item--vertical > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu__account {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}
@media (max-width: 1048px) {
  .menu__account--vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 0;
  }
}
.menu__account-btn {
  width: 116px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #FFC700;
  cursor: pointer;
}
.menu__account-btn:hover {
  background-color: #FFC700;
}
.menu__account-btn--bgcYellow {
  background-color: #FFC700;
}
.menu__account-btn--bgcYellow:hover {
  background-color: #fff;
}
@media (max-width: 1048px) {
  .menu__account-btn--vertical {
    width: 240px;
    border: 4px solid #000;
    -webkit-box-shadow: 6px 6px 0 #FFC700;
            box-shadow: 6px 6px 0 #FFC700;
    margin-bottom: 30px;
  }
}

.section-main__title {
  position: relative;
  font-size: 120px;
  font-weight: 800;
  padding-left: 10px;
}
@media (max-width: 1048px) {
  .section-main__title {
    font-size: 4.6rem;
    padding-left: 4px;
  }
}
.section-main__title-line {
  position: absolute;
  height: 40px;
  background-color: #FFC700;
  bottom: 35px;
  left: 0;
  z-index: -1;
}
@media (max-width: 1048px) {
  .section-main__title-line {
    height: 15px;
    bottom: 14px;
  }
}
.section-main__title-line--first {
  width: 775px;
}
@media (max-width: 1048px) {
  .section-main__title-line--first {
    width: 295px;
  }
}
.section-main__title-line--second {
  width: 640px;
}
@media (max-width: 1048px) {
  .section-main__title-line--second {
    width: 245px;
  }
}
.section-main__title-line--third {
  width: 720px;
}
@media (max-width: 1048px) {
  .section-main__title-line--third {
    width: 274px;
  }
}
.section-main__text {
  font-size: 2.4rem;
  font-weight: 700;
  max-width: 580px;
  margin: 10px 0 110px 0;
}
@media (max-width: 1048px) {
  .section-main__text {
    font-size: 1.6rem;
    width: 236px;
    margin: 14px 0 40px 0;
  }
}
.section-main__article {
  position: relative;
}
.section-main__article-title {
  color: #FFC700;
  font-weight: 900;
  font-size: 2.7rem;
  text-align: center;
  max-width: 535px;
  border: 4px solid #000;
  border-bottom: none;
  -webkit-box-shadow: 8px 8px 0 #FFC700;
          box-shadow: 8px 8px 0 #FFC700;
  padding: 15px 0 15px 0;
}
@media (max-width: 1048px) {
  .section-main__article-title {
    font-size: 2rem;
    border-bottom: 4px solid #000;
    margin-bottom: 8px;
    -webkit-box-shadow: 8px 16px 0 #FFC700;
            box-shadow: 8px 16px 0 #FFC700;
  }
}
@media (max-width: 400px) {
  .section-main__article-title {
    font-size: 1.6rem;
  }
}
.section-main__article-text {
  font-size: 1.6rem;
  border: 4px solid #000;
  background-color: #fff;
  -webkit-box-shadow: 8px 8px 0 #FFC700;
          box-shadow: 8px 8px 0 #FFC700;
  padding: 72px;
}
@media (max-width: 1048px) {
  .section-main__article-text {
    padding: 34px 34px 50px 34px;
  }
}
.section-main__article-subtitle {
  position: absolute;
  bottom: -35px;
  left: 425px;
  font-weight: 900;
  font-size: 2.7rem;
  width: 460px;
  background-color: #FFC700;
  border: 4px solid #000;
  padding: 15px 0;
  text-align: center;
}
@media (max-width: 1048px) {
  .section-main__article-subtitle {
    font-size: 1.5rem;
    width: 250px;
    left: calc(50% - 125px);
  }
}
.section-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 120px;
}
@media (max-width: 1048px) {
  .section-main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.section-main__container-slogan {
  position: relative;
  max-width: 585px;
  font-weight: 800;
  font-size: 4.8rem;
  margin-right: 10px;
}
@media (max-width: 1048px) {
  .section-main__container-slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3rem;
    width: 365px;
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .section-main__container-slogan {
    width: 300px;
    font-size: 2.4rem;
  }
}
.section-main__container-slogan-line {
  position: absolute;
  height: 15px;
  width: 155px;
  background-color: #FFC700;
  bottom: 17px;
  left: 0;
  z-index: -1;
}
@media (max-width: 1048px) {
  .section-main__container-slogan-line {
    width: 98px;
    height: 9px;
    bottom: 11px;
    left: 0;
  }
}
@media (max-width: 400px) {
  .section-main__container-slogan-line {
    width: 78px;
    height: 9px;
    bottom: 8px;
    left: 0;
  }
}
@media (max-width: 1048px) {
  .section-main__container-image-coins {
    width: 260px;
    height: 215px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}
.about__slogan {
  font-weight: 800;
  font-size: 4.8rem;
  width: 250px;
}
.about__icon {
  padding-right: 20px;
}
.about__text {
  font-size: 1.6rem;
  max-width: 580px;
}
.about__logo {
  padding: 20px 0 70px 0;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1048px) {
  .about__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.about__container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 324px;
  border: 4px solid #000;
  -webkit-box-shadow: 8px 8px 0 #FFC700;
          box-shadow: 8px 8px 0 #FFC700;
  padding: 45px 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .about__container-box {
    width: 180px;
    text-align: left;
    padding: 15px 0;
    margin: 0 5px 15px 0;
  }
}
.about__container-title {
  font-weight: 800;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .about__container-title {
    font-size: 1.8rem;
    margin: 0 10px 0 10px;
  }
}
.about__container-text {
  font-size: 1.6rem;
  margin: 10px 10px 0 10px;
}
@media (max-width: 768px) {
  .about__container-text--desktop {
    display: none;
  }
}
.about__container-text--mobile {
  display: none;
  width: 160px;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .about__container-text--mobile {
    display: block;
  }
}

.pricing__title {
  font-weight: 800;
  font-size: 4.8rem;
  text-align: center;
  padding-bottom: 70px;
}
@media (max-width: 580px) {
  .pricing__title {
    font-size: 1.8rem;
  }
}
.pricing__interactive-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #FFC700;
  padding: 17px 33px;
  border: 4px solid #000;
  -webkit-box-shadow: 12px 12px 0 #FFC700;
          box-shadow: 12px 12px 0 #FFC700;
}
.pricing__interactive-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 6px;
}
.pricing__interactive-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1048px) {
  .pricing__interactive-contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1048px) {
  .pricing__interactive-contain-choice {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
  }
}
.pricing__interactive-type {
  width: 214px;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
  border: 4px solid #000;
  border-top: none;
  border-right: none;
  -webkit-box-shadow: 12px 12px 0 #FFC700;
          box-shadow: 12px 12px 0 #FFC700;
  background-color: #fff;
  cursor: pointer;
}
@media (max-width: 580px) {
  .pricing__interactive-type {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  .pricing__interactive-type {
    font-size: 1.4rem;
  }
}
@media (max-width: 1048px) {
  .pricing__interactive-type--borderRight {
    border-right: 4px solid #000;
  }
}
.pricing__interactive-type:hover {
  background-color: #FFC700;
}
.pricing__interactive-type--active {
  background-color: #FFC700;
}
.pricing__interactive-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  border: 4px solid #000;
  border-top: none;
  background-color: #fff;
  -webkit-box-shadow: 12px 12px 0 #FFC700;
          box-shadow: 12px 12px 0 #FFC700;
  padding: 60px 50px 60px 270px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .pricing__interactive-box {
    padding: 40px 50px 130px 50px;
  }
}
@media (max-width: 460px) {
  .pricing__interactive-box {
    padding-bottom: 100px;
  }
}
.pricing__interactive-title {
  font-weight: 800;
  font-size: 2.8rem;
  max-width: 258px;
  padding-bottom: 15px;
}
.pricing__interactive-text {
  font-size: 1.6rem;
  max-width: 475px;
}
.pricing__interactive-line {
  position: absolute;
  left: 140px;
  width: 4px;
  height: 72px;
  background-color: #000;
}
.pricing__interactive-line--top {
  top: 0;
}
@media (max-width: 768px) {
  .pricing__interactive-line--horizontal {
    background-color: transparent;
    border-top: 4px solid #000;
    left: 0;
    top: 270px;
    width: 80%;
  }
}
@media (max-width: 580px) {
  .pricing__interactive-line--horizontal {
    top: 290px;
    width: 75%;
  }
}
@media (max-width: 400px) {
  .pricing__interactive-line--horizontal {
    top: 86%;
    width: 70%;
  }
}
.pricing__interactive-line--bottom {
  bottom: 0;
}
@media (max-width: 768px) {
  .pricing__interactive-line--bottom {
    display: none;
  }
}
.pricing__interactive-image {
  position: absolute;
  top: 97px;
  left: 98px;
}
@media (max-width: 768px) {
  .pricing__interactive-image {
    top: 240px;
    left: 85%;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 580px) {
  .pricing__interactive-image {
    top: 260px;
    left: 80%;
  }
}
@media (max-width: 400px) {
  .pricing__interactive-image {
    top: 80%;
    left: 75%;
  }
}
.pricing__opinion {
  text-align: center;
}
.pricing__opinion-person {
  font-weight: 800;
  font-size: 2.8rem;
  padding-top: 95px;
}
.pricing__opinion-icon {
  font-size: 2.2rem;
  color: #FFC700;
  padding: 15px 0;
}
.pricing__opinion-text {
  font-size: 1.6rem;
  max-width: 756px;
  margin: 0 auto 90px auto;
}
.pricing__container-box {
  width: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 4px solid #000;
  border-bottom: none;
  -webkit-box-shadow: 12px 12px 0 #FFC700;
          box-shadow: 12px 12px 0 #FFC700;
  margin-left: 40px;
}
@media (max-width: 580px) {
  .pricing__container-box {
    width: 277px;
    margin-left: 0;
  }
}
.pricing__container-procents {
  border-right: 4px solid #000;
  background-color: #FFC700;
  font-weight: 900;
  font-size: 2.7rem;
  padding: 22px 30px;
}
@media (max-width: 580px) {
  .pricing__container-procents {
    font-size: 2rem;
    padding: 15px 10px;
  }
}
.pricing__container-title {
  font-weight: 900;
  font-size: 2.7rem;
  color: #FFC700;
  padding: 22px 30px;
}
@media (max-width: 580px) {
  .pricing__container-title {
    font-size: 2rem;
    padding: 15px 10px;
  }
}
.pricing__container-text {
  position: relative;
  border: 4px solid #000;
  background-color: #fff;
  -webkit-box-shadow: 12px 12px 0 #FFC700;
          box-shadow: 12px 12px 0 #FFC700;
}
.pricing__container-list {
  margin: 50px 0 50px 30px;
}
.pricing__container-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
@media (max-width: 580px) {
  .pricing__container-list-icon {
    width: 20px;
    height: 20px;
  }
}
.pricing__container-list-text {
  font-weight: 800;
  font-size: 2.5rem;
  padding-left: 25px;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .pricing__container-list-text--longVersion {
    display: none;
  }
}
.pricing__container-list-text--shortVersion {
  display: none;
}
@media (max-width: 768px) {
  .pricing__container-list-text--shortVersion {
    display: block;
  }
}
.pricing__container-subtitle {
  position: absolute;
  bottom: -45px;
  right: 72px;
  width: 427px;
  font-weight: 900;
  font-size: 27px;
  text-align: center;
  background-color: #FFC700;
  border: 4px solid #000;
  padding: 22px 0;
}
@media (max-width: 580px) {
  .pricing__container-subtitle {
    width: 242px;
    font-size: 1.6rem;
    right: -4px;
    padding: 15px 0;
  }
}
.pricing__container-info-text {
  max-width: 905px;
  font-weight: 900;
  font-size: 2.7rem;
  text-align: center;
  border: 4px solid #000;
  padding: 20px 10px;
  margin: 56px 0 0 31px;
}
@media (max-width: 580px) {
  .pricing__container-info-text {
    font-size: 1.6rem;
    max-width: 368px;
    margin: 56px auto 0 auto;
  }
}
@media (max-width: 580px) {
  .pricing__container-info-text-disappear {
    display: none;
  }
}

.faq__title {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 580px) {
  .faq__title {
    font-size: 1.8rem;
  }
}
.faq__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1048px) {
  .faq__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.faq__question {
  position: relative;
  width: 496px;
  background: #FFC700;
  border: 4px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin-bottom: 16px;
  cursor: pointer;
}
@media (max-width: 580px) {
  .faq__question {
    width: 365px;
    padding: 10px 0;
  }
}
.faq__question:hover {
  background-color: #FFD700;
}
.faq__question-text {
  font-size: 1.8rem;
  font-weight: 900;
}
@media (max-width: 580px) {
  .faq__question-text {
    font-size: 1.6rem;
    width: 200px;
  }
}
.faq__question-icon {
  font-size: 3rem;
}
.faq__question-icon--displayNone {
  display: none;
}
.faq__question-xmark {
  display: none;
  font-size: 3rem;
}
.faq__question-xmark--displayBlock {
  display: block;
}
.faq__question-answer {
  display: none;
  position: absolute;
  top: 74px;
  left: -4px;
  width: calc(100% + 8px);
  font-size: 1.6rem;
  padding: 30px 25px;
  background-color: #fff;
  border: 4px solid black;
  border-top: none;
  z-index: 1;
}
@media (max-width: 580px) {
  .faq__question-answer {
    top: 64px;
  }
}
.faq__question-answer--displayBlock {
  display: block;
}
.faq__info {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  margin: 30px 0;
}
@media (max-width: 1048px) {
  .faq__info {
    width: 300px;
    margin: 30px auto;
  }
}
@media (max-width: 1048px) and (max-width: 580px) {
  .faq__info {
    font-size: 1.6rem;
  }
}
.faq__info-link {
  color: #000;
}

.contact__title {
  font-size: 4.8rem;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 580px) {
  .contact__title {
    font-size: 1.8rem;
  }
}
.contact__text {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  padding: 10px 0 40px 0;
}
@media (max-width: 580px) {
  .contact__text {
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 20px;
  }
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__form-element {
  width: 492px;
  font-size: 1.6rem;
  font-weight: 900;
  color: #000;
  border: 4px solid #000;
  -webkit-box-shadow: 8px 8px 0 #FFC700;
          box-shadow: 8px 8px 0 #FFC700;
  margin-bottom: 10px;
  padding: 20px 0 20px 30px;
}
@media (max-width: 1048px) {
  .contact__form-element {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 580px) {
  .contact__form-element {
    font-weight: 700;
  }
}
.contact__form-element::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.contact__form-element::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.contact__form-element:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.contact__form-element::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.contact__form-element::placeholder {
  color: #000;
  opacity: 1;
}
.contact__form-element:-ms-input-placeholder {
  color: #000;
}
.contact__form-element::-ms-input-placeholder {
  color: #000;
}
.contact__form-element--textarea {
  width: 100%;
  resize: none;
  font-size: 1.8rem;
}
.contact__form-element--btn {
  padding: 0 0;
  width: 180px;
  background-color: #FFC700;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  padding: 10px 0;
  margin: 10px 0 0 auto;
  font-size: 2.7rem;
  font-weight: 900;
}
@media (max-width: 580px) {
  .contact__form-element--btn {
    margin: 10px auto 0 auto;
  }
}
.contact__form-element--btn:hover {
  background-color: #FFD700;
}

.footer {
  background-color: #FFC700;
  height: 348px;
  margin-top: 130px;
}
@media (max-width: 1048px) {
  .footer {
    padding: 0 30px;
  }
}
@media (max-width: 860px) {
  .footer {
    height: 465px;
  }
}
@media (max-width: 580px) {
  .footer {
    margin-top: 54px;
  }
}
.footer .menu--order {
  margin: 0 auto;
  padding: 70px 0 80px 0;
  max-width: 1012px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 860px) {
  .footer .menu--order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer .menu__logo--order-2 {
  width: 500px;
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}
@media (max-width: 860px) {
  .footer .menu__logo--order-2 {
    max-width: 250px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 20px auto;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.footer .menu__nav-list--weight700 {
  font-weight: 700;
}
.footer .menu__account {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media (max-width: 860px) {
  .footer .menu__account {
    max-width: 255px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 30px auto 0 auto;
  }
}
.footer .menu__account-btn--bgcBlack {
  background-color: #000;
  color: #FFC700;
  border-color: #000;
}
.footer .menu__account-btn--bgcBlack:hover {
  background-color: #FFC700;
  color: #000;
}
.footer .menu__account-btn--borderBlack {
  border-color: #000;
}
.footer .menu__account-btn--borderBlack:hover {
  background-color: #FFD700;
}
.footer .menu__social-media {
  background-color: #000;
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}
@media (max-width: 860px) {
  .footer .menu__social-media {
    max-width: 155px;
    background-color: #FFC700;
    margin-top: 50px;
  }
}
.footer .menu__social-media-icon {
  font-size: 22px;
  color: #FFC700;
}
@media (max-width: 860px) {
  .footer .menu__social-media-icon {
    color: #000;
  }
}
.footer .menu__social-media-icon:hover {
  color: #FFD700;
}
@media (max-width: 860px) {
  .footer .menu__social-media-icon:hover {
    color: #666;
  }
}
.footer__text-info {
  margin: 0 auto;
  max-width: 1012px;
  font-size: 1.6rem;
  padding-left: 10px;
}
@media (max-width: 860px) {
  .footer__text-info {
    display: none;
  }
}
.footer__text-info--appear {
  display: none;
}
@media (max-width: 860px) {
  .footer__text-info--appear {
    display: block;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .quotation {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.quotation__title {
  font-size: 4.8rem;
  text-align: center;
  max-width: 576px;
  margin: 0 auto;
}
@media (max-width: 580px) {
  .quotation__title {
    font-size: 1.8rem;
  }
}
.quotation__text {
  font-size: 1.6rem;
  text-align: center;
  max-width: 582px;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}
.quotation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1048px) {
  .quotation__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.quotation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 324px;
  background-color: #fff;
  border: 4px solid #000;
  margin-bottom: 20px;
  -webkit-box-shadow: 8px 8px 0 #FFC700;
          box-shadow: 8px 8px 0 #FFC700;
}
@media (max-width: 1048px) {
  .quotation__item {
    margin-right: 10px;
  }
}
@media (max-width: 580px) {
  .quotation__item {
    width: 365px;
    margin-bottom: 0;
    border-top: none;
  }
  .quotation__item--borderTop {
    border-top: 4px solid #000;
  }
}
.quotation__item-number {
  min-width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 2.5rem;
  font-weight: 800;
  background-color: #FFC700;
  border-right: 4px solid #000;
}
.quotation__item-text {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0 15px;
}/*# sourceMappingURL=main.css.map */