*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 10px
    font-family: $font

.wrapper
    margin: 0 auto
    max-width: 1512px
    &__info-bar
        height: 64px
        color: $main-color
        background-color: #000
        font-size: 1.8rem
        text-align: center
        font-weight: 900
        line-height: 64px
    &__main
        margin: 0 auto
        max-width: 1012px
        +mq(large)
            padding: 0 30px
        &--column
            +mq(xsmall)
                display: flex
                flex-direction: column
    &__hline
        margin: 90px 0
        border: 1px solid #000
        &--order
            +mq(xsmall)
                order: 1
