.faq
    &__title
        font-size: 4.8rem
        text-align: center
        margin-bottom: 40px
        +mq(xsmall)
            font-size: 1.8rem
    &__box
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        +mq(large)
            justify-content: center
    &__question
        position: relative
        width: 496px
        background: $main-color
        border: 4px solid #000
        display: flex
        justify-content: space-around
        align-items: center
        padding: 20px 0
        margin-bottom: 16px
        cursor: pointer
        transition: 0.2s
        +mq(xsmall)
            width: 365px
            padding: 10px 0
        &:hover
            background-color: $hover-color
        &-text
            font-size: 1.8rem
            font-weight: 900
            +mq(xsmall)
                font-size: 1.6rem
                width: 200px
        &-icon
            font-size: 3rem
            &--displayNone
                display: none
        &-xmark
            display: none
            font-size: 3rem
            &--displayBlock
                display: block
        &-answer
            display: none
            position: absolute
            top: 74px
            left: -4px
            width: calc(100% + 8px)
            font-size: 1.6rem
            padding: 30px 25px
            background-color: #fff
            border: 4px solid black
            border-top: none
            z-index: 1
            +mq(xsmall)
                top: 64px
            &--displayBlock
                display: block
    &__info
        font-size: 1.8rem
        font-weight: 800
        text-align: center
        margin: 30px 0
        +mq(large)
            width: 300px
            margin: 30px auto
            +mq(xsmall)
                font-size: 1.6rem
        &-link
            color: #000
            transition: 0.2s
            &:hover
                color: #666