.footer
    background-color: $main-color
    height: 348px
    margin-top: 130px
    +mq(large)
        padding: 0 30px
    +mq(xmediumx)
        height: 465px
    +mq(xsmall)
        margin-top: 54px
    .menu
        &--order
            margin: 0 auto
            padding: 70px 0 80px 0
            max-width: 1012px
            flex-wrap: wrap
            justify-content: space-between
            +mq(xmediumx)
                flex-direction: column
                align-items: center
                text-align: center
                padding-bottom: 20px
        &__logo--order-2
            width: 500px
            order: -2
            +mq(xmediumx)
                max-width: 250px
                order: 0
                margin: 20px auto
                flex-basis: auto
        &__nav-list--weight700
            font-weight: 700
        &__account
            width: 255px
            display: flex
            justify-content: space-between
            margin-bottom: 20px
            order: -1
            +mq(xmediumx)
                max-width: 255px
                order: 0
                margin: 30px auto 0 auto
            &-btn
                &--bgcBlack
                    background-color: #000
                    color: $main-color
                    border-color: #000
                    transition: 0.3s
                    &:hover
                        background-color: $main-color
                        color: #000
                &--borderBlack
                    border-color: #000
                    transition: 0.2s
                    &:hover
                        background-color: $hover-color
        &__social-media
            background-color: #000
            width: 255px
            display: flex
            justify-content: space-around
            padding: 10px 0
            +mq(xmediumx)
                max-width: 155px
                background-color: $main-color
                margin-top: 50px
            &-icon
                font-size: 22px
                color: $main-color
                transition: 0.2s
                +mq(xmediumx)
                    color: #000
                &:hover
                    color: #ffb300fe
                    +mq(xmediumx)
                        color: #666
    &__text-info
        margin: 0 auto
        max-width: 1012px
        font-size: 1.6rem
        padding-left: 10px
        +mq(xmediumx)
            display: none
        &--appear
            display: none
            +mq(xmediumx)
                display: block
                text-align: center