.quotation
    +mq(xsmall)
        order: 2
    &__title
        font-size: 4.8rem
        text-align: center
        max-width: 576px
        margin: 0 auto
        +mq(xsmall)
            font-size: 1.8rem
    &__text
        font-size: 1.6rem
        text-align: center
        max-width: 582px
        margin: 0 auto
        padding: 20px 0 40px 0
    &__container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        +mq(large)
            justify-content: space-evenly
    &__item
        display: flex
        align-items: center
        width: 324px
        background-color: #fff
        border: 4px solid #000
        margin-bottom: 20px
        box-shadow: 8px 8px 0 $main-color
        +mq(large)
            margin-right: 10px
        +mq(xsmall)
            width: 365px
            margin-bottom: 0
            border-top: none
            &--borderTop
                border-top: 4px solid #000
        &-number
            min-width: 60px
            text-align: center
            // padding: 0 20px
            line-height: 60px
            font-size: 2.5rem
            font-weight: 800
            background-color: $main-color
            border-right: 4px solid #000
        &-text
            font-size: 1.5rem
            font-weight: 800
            padding: 0 15px
